PORT=3000
GLOBAL_PREFIX=api/v1
DATABASE_URL=postgresql://neondb_owner:npg_Ys1AfgRFve3c@ep-sparkling-wave-a124926j-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SEED_ON_START=false